/* the css rules for index.html  */

body {
	background-color: #333333;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}

div {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 10px;
}

#jumbotron {
	background: #532f8c;
	color: white;
	padding-bottom: 80px
}
#jumbotron btn-primary {
	background: #845ac7;
	border-color: #845ac7
}
#jumbotron btn-primary:hover {
	background: #7646c1
}
#jumbotron p {
	color: #d9ccee;
	max-width: 75%;
	margin: 1em auto 2em
}
#navbar + #jumbotron {
	margin-top: -20px
}