body {
	background-color: #9999ff;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}
.buttonHeader{
  	background-color: #8f8f8f;
  	border: 2px solid #000000;
  	color: white;
  	padding: 15px 32px;
	border-color: #000000;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
 	font-size: 16px;
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 8px;
}

.buttonGame{
  	background-color: #8f8f8f;
  	border: 2px solid #000000;
  	color: white;
  	padding: 15px 32px;
	border-color: #000000;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
 	font-size: 16px;
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 8px;
}
#p1Hand{
	visibility: hidden;
}
#p2Hand{
	visibility: hidden;
}
#nextButton{
	visibility: hidden;
}
#fastForwardButton{
	float: right;
	visibility: hidden;
}


#playerNameTextBox{
	background-color: #8f8f8f;
  	border: 2px solid #000000;
  	color: white;
  	padding: 15px 32px;
	border-color: #000000;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
 	font-size: 16px;
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 8px;
}

.cardInfo{
	background-color: #8f8f8f;
  	color: white;
  	padding: 15px 32px;
	border-color: #000000;
  	text-align: center;
  	text-decoration: none;
  	display: block;
 	font-size: 16px;
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 8px;
}

.float-container {
    padding: 20px;
	height:auto%;
	overflow:auto;
}

.float-child{
	background-color: #8f8f8f;
	width: auto;
	height: auto;
    float: left;
    padding: 10px;
    border: 2px solid #000000;
	border-radius: 8px;
}

#p2CardCount{
	transform: scaleX(-1);
}
#p2CardName{
	transform: scaleX(-1);
}

.float-child2{
	transform: scaleX(-1);
	background-color: #8f8f8f;
	width: auto;
	height: auto;
    float: right;
    padding: 10px;
    border: 2px solid #000000;
	border-radius: 8px;
}

img {
  	display: inline-block;
	margin: auto;
	max-height: 400px;
	height: auto;
	border-radius: 8px;
}